@media (max-width: 1980px) {
    .nav-bar__div {
        padding-right: 30px;
    }
}

@media (max-width: 1873px) {
    .nav-bar__div {
        padding-right: 50px;
    }
}

@media (max-width: 1800px) {
    body {
        width: 1520px;
    }
}

@media (max-width: 1600px) {
    body {
        width: 1400px;
    }
}

@media (max-width: 1470px) {
    .box-2 {
        align-items: center;
        justify-content: center;
    }
    .box-2__img {
        width: 500px;
    }
    .nav-bar__title {
        font-size: 28px;
    }
    .nav-bar__ul {
        font-size: 17px;
    }
    .section-title{
        font-size: 50px;
        margin-bottom: 28px;
    }
    .section-p {
        font-size: 18px;
        margin-bottom: 80px;
    }
    .section-button {
        width: 170px;
        height: 48px;
    }
    .button-img {
        width: 21px;
        height: 21px;
    }
    .section-button-p{
        font-size: 18px;
        margin-left: 13px;
    }
    .blue-text__h3 {
        font-size: 18px;
    }
    .service-title__service {
        font-size: 30px;
    }
    .service-p {
        font-size: 15px;
    }
    .service-box {
        width: 350px;
        height: 430px;
    }
    .service-box {
        margin-bottom: 50px;
    }
    .service-box__img {
        width: 80px;
    }
    .service-box__h4 {
        font-size: 20px;
    }
    .service-box-p {
        font-size: 15px;
        width: 304px;
    }
    .service-button__div {
        width: 114px;
        height: 39px;
        border-radius: 20px;
    }
    .navigation {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    body {
        width: 1200px;
    }
}

@media (max-width:1220px) {
    .navigation {
        margin-bottom: 188px;
    }

    .box-1 {
        width: 400px;
    }

    /* .box-2 {
        width: 400px;
    } */
    .section-div {
        position: absolute;
        left: 0; 
        right: 0;
        top: 200px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    .section-title {
        font-size: 35px;
    }
    .section-p{
        font-size: 15px;
        margin-bottom: 60px;
    }
    .section-button {
        width: 150px;
        height: 38px;
    }
    .button-img {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section-button-p{
        font-size: 15px;
    }
    .nav-bar__title {
        font-size: 23px;
    }
    .nav-bar__ul {
        font-size: 14px;
    }
    
    .box-2__img {
        width: 400px;
    }
    .section-div-2 {
        margin-top: 250px;
    }
}
@media (max-width:1200px) {
    .navigation {
        position: absolute;
        top: 0; bottom: 1216px; left: 65px; right: 0;
        margin: auto;
        align-items: center;
    }
}

@media (max-width:880px) {
    .section-div {
        width: 680px;
    }
    .box-2__img {
        width: 330px;
    }
    .section-title {
        font-size: 25px;
    }
    .section-p {
        font-size: 14px;
        width: 273px;
        line-height: 1.4;
        margin-bottom: 35px;
    }
    .section-button {
        width: 118px;
        height: 32px;
    }

    .section-button p {
        font-size: 15px;
        text-transform: lowercase;
    }
    .nav-bar__title {
        font-size: 20px;   
    }
    .nav-bar__ul {
        font-size: 12px;
    }
}

@media (max-width:724px) {
    .box-1 {
        width: 215px;
    }
    .navigation {
        left: 32px;
    }
    .box-2__img {
        width: 300px;
    }
    .section-title {
        font-size: 22px;
    }
    .section-p {
        font-size: 12px;
        width: 230px;
        line-height: 1.4;
        margin-bottom: 25px;
    }
    .section-button {
        width: 118px;
        height: 32px;
    }

    .section-button p {
        font-size: 15px;
        text-transform: lowercase;
    }
}
@media (max-width:660px) {
    .section-div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box-1, box-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box-2 {
        
    }
}


@media (max-width:710px) {
    .nav-bar__ul li:not(:last-child) {
        display: none;
    }
    .fa-bars {
        display: block;
        font-size: 30px;
        color: #000;
    }

    .section-div {
        width: 600px;
    }
}
