@media (max-width: 1800px) {
    body {
        width: 1520px;
    }
}

@media (max-width: 1600px) {
    body {
        width: 1400px;
    }
}

@media (max-width: 1470px) {
    .box-2 {
        align-items: center;
        justify-content: center;
    }
    .box-2__img {
        width: 500px;
    }
    .nav-bar__title {
        font-size: 28px;
    }
    .nav-bar__ul {
        font-size: 17px;
    }
    .section-title{
        font-size: 50px;
        margin-bottom: 28px;
    }
    .section-p {
        font-size: 18px;
        margin-bottom: 80px;
    }
    .section-button {
        width: 170px;
        height: 48px;
    }
    .button-img {
        width: 21px;
        height: 21px;
    }
    .section-button-p{
        font-size: 18px;
        margin-left: 13px;
    }
}