@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300&display=swap');

body {
    width: 1745px;
    margin: 0 auto;
}
/* NAVIGATION */
.nav-bar__title {
    display: flex;
    font-size: 32px;
}

.nav-bar__div {
    display: flex;
}

.nav-bar__ul {
    display: flex;
    font-size: 20px;
    color: #3D37f1;
    font-weight: 700;
}

.nav-li:nth-child(-n +5) {
    margin-left: 50px;
}

.navigation {
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 277px;
}

span {
    color: #3D37f1;
    font-weight: 700;
    margin-right: 5px;
}

.title-p { 
    font-weight: 300;
}

/* END NAVIGATION */

/* SECTION 1 */
section {font-family: 'Lato', sans-serif;}

.section-div {
    display: flex;
    justify-content: space-evenly;
}

.box-1 {
    width: 630px;
}

.section-title {
    font-size: 75px;
    opacity: 70%;
    line-height: 1.5;
    margin-bottom: 35px;
    font-weight: 700;
}

.section-p {
    margin-bottom: 170px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.section-button {
    background-color: #3D37f1;
    display: flex;
    width: 264px;
    height: 77px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.button-img {
    width: 31px;
    height: 31px;
}

.section-button-p {
    font-size: 23px;
    color: #fff;
    margin-left: 30px;

}
/* END SECTION 1 */


/* SECTION 2 */

.section-div-2 {
    width: 1170px;
    margin: 0 auto;
    margin-top: 350px;
}

.service-text__div {
    width: 710px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.blue-text__h3 {
    font-size: 20px;
    font-weight: 700;
    color: #3D37f1;
    font-family: "Lato", sans-serif;
    margin-bottom: 10px;
}

.service-title__service {
    font-size: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    opacity: 65%;
    margin-bottom: 25px;
}

.service-p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    opacity: 50%;
    line-height: 1.6;
}

.service-p__div {
    width: 689px;
    height: 85px;
}

.service-box {
    width: 370px;
    height: 451px;
    background-image: linear-gradient(#fbba77, #dfa871);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.service-box__img {
    margin-top: 50px;
    width: 100px;
}

.service-box__h4 {
    margin-top: 55px;
    font-size: 22px;
    color: #fff;
}

.service-box-p {
    margin-top: 12px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    width: 328px;
    height: 62px;
    line-height: 1.7;
}

.service-button__div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 131px;
    height: 45px;
    background-color: #fff;
    border-radius: 50px;
    z-index: 1000;
}

.service-button__div p {
    opacity: 70%;
}

.service-button__div:hover {
    width: 140px;
    height: 50px;
    border-radius: 30px;
    transition: all 0.3s linear;
}

.service-box__6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.second {
    background-image: linear-gradient(#41eae3, #2293b7);
}

.third {
    background-image: linear-gradient(#9e9bf3, #564fd6);
}

.fourth {
    background-image: linear-gradient(#69529f, #463864);
}
/* Sdadadsa */
.fifth {
    background-image: linear-gradient(#4386d2, #0962c6);
}

.sixth {
    background-image: linear-gradient(#9e9bf3, #564fd6);
}

.seventh {
    background-image: linear-gradient(#ff8088, #984141);
}


.second2 {
    border: 2px solid #fff;
    background-color: transparent;
}

.second2 p {
    opacity: 100%;
    font-weight: 700;
    color: #fff;
}

.service-box:nth-child(4) {margin-bottom: 100px;}



/* END SECTION 2 */